In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\subin\Desktop\datasets\COVIDSenti-A.csv")

In [3]:
df

                                                   tweet label
0      Coronavirus | Human Coronavirus Types | CDC ht...   neu
1      @shehryar_taseer That‚Äôs üíØ true , \nCorona...   neu
2      TLDR: Not SARS, possibly new coronavirus. Diff...   neg
3      Disease outbreak news from the WHO: Middle Eas...   neu
4      China - Media: WSJ says sources tell them myst...   neu
...                                                  ...   ...
29995  CDC: Re-test confirms Westerdam cruise ship pa...   neu
29996  Two doctors die of coronavirus within 24 hours...   neu
29997  BEIJING - The lockdown of Guo Jing's neighbour...   neu
29998  #CoronavirusOutbreak in #Balochistan !!\n#CPEC...   neu
29999  The Australian dollar has hit a fresh decade l...   neu

[30000 rows x 2 columns]

In [4]:
df.describe

<bound method NDFrame.describe of                                                    tweet label
0      Coronavirus | Human Coronavirus Types | CDC ht...   neu
1      @shehryar_taseer That‚Äôs üíØ true , \nCorona...   neu
2      TLDR: Not SARS, possibly new coronavirus. Diff...   neg
3      Disease outbreak news from the WHO: Middle Eas...   neu
4      China - Media: WSJ says sources tell them myst...   neu
...                                                  ...   ...
29995  CDC: Re-test confirms Westerdam cruise ship pa...   neu
29996  Two doctors die of coronavirus within 24 hours...   neu
29997  BEIJING - The lockdown of Guo Jing's neighbour...   neu
29998  #CoronavirusOutbreak in #Balochistan !!\n#CPEC...   neu
29999  The Australian dollar has hit a fresh decade l...   neu

[30000 rows x 2 columns]>

In [5]:
df.info

<bound method DataFrame.info of                                                    tweet label
0      Coronavirus | Human Coronavirus Types | CDC ht...   neu
1      @shehryar_taseer That‚Äôs üíØ true , \nCorona...   neu
2      TLDR: Not SARS, possibly new coronavirus. Diff...   neg
3      Disease outbreak news from the WHO: Middle Eas...   neu
4      China - Media: WSJ says sources tell them myst...   neu
...                                                  ...   ...
29995  CDC: Re-test confirms Westerdam cruise ship pa...   neu
29996  Two doctors die of coronavirus within 24 hours...   neu
29997  BEIJING - The lockdown of Guo Jing's neighbour...   neu
29998  #CoronavirusOutbreak in #Balochistan !!\n#CPEC...   neu
29999  The Australian dollar has hit a fresh decade l...   neu

[30000 rows x 2 columns]>

In [6]:
df.isnull().sum()

tweet    0
label    0
dtype: int64

In [7]:
df.shape

(30000, 2)

In [8]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = stopwords.words('english')
df['tweet'] = df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\subin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
df.head()

                                               tweet label
0  Coronavirus | Human Coronavirus Types | CDC ht...   neu
1  @shehryar_taseer That‚Äôs üíØ true , Corona v...   neu
2  TLDR: Not SARS, possibly new coronavirus. Diff...   neg
3  Disease outbreak news WHO: Middle East respira...   neu
4  China - Media: WSJ says sources tell mystery p...   neu

In [10]:
from sklearn import preprocessing   
label = preprocessing.LabelEncoder()
df[ 'label' ]= label.fit_transform(df[ 'label' ])

In [11]:
df.head()

                                               tweet  label
0  Coronavirus | Human Coronavirus Types | CDC ht...      1
1  @shehryar_taseer That‚Äôs üíØ true , Corona v...      1
2  TLDR: Not SARS, possibly new coronavirus. Diff...      0
3  Disease outbreak news WHO: Middle East respira...      1
4  China - Media: WSJ says sources tell mystery p...      1

In [12]:
import re
r = re.compile(r'[^\w\s]+')
df['tweet'] = [r.sub('', s) for s in df['tweet'].tolist()]

In [13]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\subin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [18]:
x=df["tweet"]
y=df["label"]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
from  sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.3, random_state = 63)

In [21]:
x_test

15699    SpeakerPelosi Why government importing Coronav...
442      Coronavirus cure Can treat coronavirus How dan...
4464     Did China Steal Coronavirus From Canada And We...
19646    Wuhan Coronavirus  What Are Its KeySymptoms ht...
27417    Coronavirus South Korean PM vows swift action ...
                               ...
26580    CCX strong 1H result decent outlook cut div to...
14348    Coronavirus updates The latest news outbreak g...
5159                 indeed coronavirus httpstcoYswqKW13BS
2049                   Whats deal coronavirus How I get it
13084    Chinese markets plummet CoronavirusOutbreak Co...
Name: tweet, Length: 9000, dtype: object

In [22]:
x_train

25114    Dear gullible asian parents Facebook stop read...
10541    WHO declares Coronavirus global health emergen...
3478     All Coronavirus stuff inner hypochondriac goin...
28320    Letters  Keep cool coronavirus epidemic callig...
5491     Fifth US case coronavirus confirmed a httpstco...
                               ...
2386     A Man Diagnosed With Wuhan Coronavirus Near Se...
25815    Countries confirmed cases coronavirus httpstco...
139      Corona Virus  Won Ton Soup banned US  üòú http...
11380    U keep spreading nasty shits Para kang corona ...
5164     DOHgov We need discuss avoid infection disease...
Name: tweet, Length: 21000, dtype: object

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()
train_vectors = vectorizer.fit_transform(x_train)
test_vectors = vectorizer.transform(x_test)

In [24]:
#linear kernel
from sklearn import svm
clf=svm.SVC(kernel='linear')
clf.fit(train_vectors,y_train)

SVC(kernel='linear')

In [25]:
pred_linear=clf.predict(test_vectors)
from sklearn import metrics
metrics.accuracy_score(y_test,pred_linear)

0.889

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred_linear))

              precision    recall  f1-score   support

           0       0.88      0.71      0.78      1586
           1       0.89      0.97      0.93      6820
           2       0.81      0.47      0.59       594

    accuracy                           0.89      9000
   macro avg       0.86      0.71      0.77      9000
weighted avg       0.89      0.89      0.88      9000